*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: hsla(0, 0%, 94%, 0.733);
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}

main img{
    display: flex;
    height: 300px;
    width: 300px;

}
header nav ul li a{
    color: aliceblue;
    font-size: medium;
}